/* add your CSS here */
.label {
    font-weight : bold;
}

#interestingfact {
    font-style: italic;
}

ul {
    list-style: none;
    padding: 0;
}

#page {
    border: 1px solid black;
    width: 300px;
    padding: 0 15px 0 15px;
}